{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}


<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <div>
            <h3>ABOUT US</h3>
        </div>
        <div>

        </div>


    </div>
    <div class="about-container about-container-1">
        "완전한 비건 한 명보다 불완전한 비건 지향인들이 100명이 더 가치 있다"
        - <나의 비거니즘 이야기 (보선, 푸른숲, 2020)>
    </div>
    <div class="about-container about-container-2">
        Vegan 종류: 비건, 락토 베지테리언, 오보 베지테리언, 락토 오보 베지테리언, 페스코 베지테리언, 폴로 베지테리언, 플렉시테리언
    </div>
    <div class="about-container about-container-3">
        점점 커지고 있는 비건 시장 규모!
        (그래프 첨부 or 기사 첨부)
    </div>
    <div class="about-container about-container-4">
        우리 사이트 기능 설명
    </div>
    <div class="about-container about-container-5">
        Veginner는 누가 만들었나요?
    </div>
</section>


{% endblock contents %}