{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}


<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <div>
            <h3>ABOUT US</h3>
        </div>
    </div>

    <div class="about-container about-container-1">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <div>
                Veginner와 함께
            </div>
            <div>
                매일 Vegan에 가까워져 보세요
            </div>
            <!--            <div>-->
            <!--                <i class="fas fa-chevron-down"></i>-->
            <!--            </div>-->
        </div>

    </div>
    <div class="about-container about-container-2">
        <div class="d-flex flex-column align-items-start justify-content-center h-100">
            <div>Veginner는</div>
            <div>
                <span class="about-start-msg">완전한 비건 한 명보다 불완전한 비건 지향인들이 100명이 더 가치 있다</span>
            </div>
            <div>
                는 말에서 시작되었습니다.
            </div>


        </div>
    </div>
    <div class="about-container about-container-3">
        <div class="d-flex flex-column align-items-end justify-content-center h-100">
            <div>
                사용자들이 모든 일상 식단을 채식으로 돌연 바꾸기보다
            </div>
            <div>
                채식 위주 식단을 <span class="about-start-import">지향</span>하고
            </div>
            <div>
                차근차근 <span class="about-start-import">실천</span>할 수 있도록 돕습니다.
            </div>
        </div>
    </div>
    <div class="about-container about-container-4">
        <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
            <div>증가하는 채식주의 지향 수요</div>
            <div class="text-center mt-5">
                <img alt="article1" class="mx-3" src="{% static 'image/article1.png' %}" style="width: 25%;">
                <img alt="article1" class="mx-3" src="{% static 'image/article2.png' %}" style="width: 25%">
            </div>
        </div>
    </div>
    <div class="about-container about-container-5">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <div>비건에는 다양한 유형이 있다는 사실,</div>
            <div>알고 계신가요?</div>
            <div class="vegan-type-desc">
                비건 유형 설명 (이미지 삽입)

                비건
                락토
                오보
                락토 오보
                페스코
                폴로
                플렉시테리언

            </div>
            <div class="vegan-type-desc">
                <div>*프루테리언 등 세부적인 타 분류가 있을 수 있음*</div>
                <div>
                    Vegetarian은 여러 유형으로 나뉘어져 있고, veginner의 캘린더 서비스를 통해 이달의 내 채식주의 현황을 살펴보세요.
                </div>
                <div>
                    커뮤니티에 공유하고 글들을 살펴보면서 자연스럽게 채식 위주의 식단을 익히고, 실천할 수 있게 합니다.
                </div>
            </div>
        </div>
    </div>
    <div class="about-container about-container-6">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <div>Veginner와 함께</div>
            <div class="about-veginner">Vegetarian의 다양한 종류에 대해 알아보고,</div>
            <div class="about-veginner">커뮤니티에 다른 사용자들과 함께 식단을 공유하고,</div>
            <div class="about-veginner">나의 일상 식단이 어떤 VG type에 해당되는지 스스로 체크해 보고,</div>
            <div class="about-veginner">이를 수집하여 veginner만을 위한 월별 개인 report를 받아 보세요</div>
        </div>
    </div>
    <div class="about-container about-container-7">
        <div class="d-flex flex-column align-items-center justify-content-center h-100 w-100">
            <div>
                Veginner는 누가 만들었나요?
            </div>
            <div class="member-intro-box row w-100 h-50 d-flex align-items-center">
                <div class="member-intro col-2 col-xl-4 text-center my-3">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <div>
                            <img alt="logo" src="{% static 'image/logo-green.png' %}">
                        </div>
                        <div class="d-flex flex-column align-items-center ">
                            <div class="developer my-3">고다영</div>
                            <div class="developer-role">Backend & Frontend</div>
                            <div class="developer-email">kodayoung1@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="member-intro col-2 col-xl-4 text-center my-3">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <div>
                            <img alt="logo" src="{% static 'image/logo-green.png' %}">
                        </div>
                        <div class="d-flex flex-column align-items-center ">
                            <div class="developer my-3">고서연</div>
                            <div class="developer-role">Frontend</div>
                            <div class="developer-email">seoyeon99o@naver.com</div>
                        </div>
                    </div>
                </div>
                <div class="member-intro col-2 col-xl-4 text-center my-3">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <div>
                            <img alt="logo" src="{% static 'image/logo-green.png' %}">
                        </div>
                        <div class="d-flex flex-column align-items-center ">
                            <div class="developer my-3">김은지</div>
                            <div class="developer-role">Backend & Frontend</div>
                            <div class="developer-email">go.gett2r@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="member-intro col-2 col-xl-4 text-center my-3">
                    <div class="d-flex flex-column justify-content-center h-100">
                        <div>
                            <img alt="logo" src="{% static 'image/logo-green.png' %}">
                        </div>
                        <div class="d-flex flex-column align-items-center ">
                            <div class="developer my-3">오동화</div>
                            <div class="developer-role">Backend</div>
                            <div class="developer-email">odhlmj@naver.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock contents %}