{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}

<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <h3>COMMUNITY</h3>
        <button type="button" class="community-post-btn btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">Post
        </button>
    </div>

    {% if user.is_authenticated %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>{{user.nickname}}님의 식단 추가</h2>
                    <form action="{% url 'community' %}" id="post_submit" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <!--                        <label for="recipient-name" class="col-form-label">Food name:</label>-->
                            <!--                        <input type="text" class="form-control" id="recipient-name">-->
                            {{form.as_p}}
                            <input type="hidden" value="{{user.nickname}}" name="username">
                        </div>
                        <!--                    <div class="mb-3">-->
                        <!--                        <label for="message-text" class="col-form-label">Content:</label>-->
                        <!--                        <textarea class="form-control" id="message-text"></textarea>-->
                        <!--                    </div>-->
                    </form>
                    <!--            </div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="post_btn">Add post</button>
                    </div>
                    <!--                sweetalert2 CDN-->
                    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        console.log("script 들어옴")
                        $("#post_btn").click(function (e) {
                            console.log(e);
                            console.log("폼 전송 전");
                            let post_form = $("#post_submit");
                            console.log(post_form);
                            Swal.fire({
                                title: "폼 전송?",
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: '예매 취소'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Swal.fire({
                                        text: '성공적으로 보냈습니다!',
                                        icon: 'success',
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: '확인'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            post_form.submit();
                                        }
                                    });
                                }
                            });
                        });
                        // $(function(){
                        //     $('#post_submit').on('submit', function(e){
                        //         e.preventDefault();
                        //         console.log("ajax들어오기전");
                        //         $.ajax({
                        //             url: '{% url "posting" %}',
                        //             type: 'POST',
                        //             data: $("#post_submit").serialize(),
                        //             success: function(data){
                        //                 alert("Fail");
                        //             }
                        //         });
                        //     });
                        // });
                    </script>
                </div>
            </div>
        </div>
        {% else %}
        <!--login alert 창 띄워 주면 됨-->
        <h3>(임시)너는 지금 글 쓸 권한이 없다/ 로그인해야만 포스팅할 수 있습니다 + 로그인 페이지로 redirect</h3>
        {% endif %}
        <div class="d-flex justify-content-center">
            {% for p in post %}
            <div>
                <p>Writer | {{ p.writer.nickname }}</p>
                <p>Vegan_type | {{ p.post_vegan_type }}</p>
                <p>Date | {{ p.date}}</p>
                <p>Title | {{ p.food_name }}</p>
                <p>Content | {{ p.content }}</p>
                <img src="media/{{ p.image }}" alt="" width="200px" height="250px">
            </div>
            {% endfor %}
        </div>
</section>
{% endblock contents %}