{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}

<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <h3>COMMUNITY</h3>
        <button class="community-post-btn btn" data-bs-target="#exampleModal" data-bs-toggle="modal"
                data-bs-whatever="@mdo"
                type="button">글쓰기
        </button>
    </div>
    <select id="order-select" onchange="location = this.value;">
        <option class="order-Default" value="?order=Default">--정렬--</option>
        <option class="order-Recent" value="?order=Recent">최신순</option>
<!--        <option class="order-Likes" value="?order=Likes">좋아요순</option>-->
<!--        {% if user.is_authenticated %}-->
<!--        <option class="sort-mypost" value="?sort=mypost">내가쓴글</option>-->
<!--        {% endif %}-->
    </select>
    <button class="community-post-btn btn" type="button">Vegan</button>
    <div aria-hidden="true" aria-labelledby="detailModalLabel" class="modal fade" id="detailModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-3 community_header text-white">
                    <h5 class="modal-title" id="detailModalLabel">내 식단 등록</h5>
                    <button aria-label="Close" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            type="button"></button>
                </div>
                <div class="modal-body p-3">
                    <h2>Veginner {{user.nickname}}</h2>
                    <form action="#" enctype="multipart/form-data" id="detail_post" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <div class="d-flex justify-content-center flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0 mt-3">
                                    <i class="fas fa-calendar-check fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">날짜</label>
                                    {{ form.date|attr:"class:floatingInput form-control"}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0 mt-2">
                                    <i class="fas fa-utensils fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">음식 이름</label>
                                    {{ form.food_name|attr:"class:floatingInput form-control"}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <i class="fas fa-sticky-note fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">내용</label>
                                    {{ form.content|attr:"class:floatingInput form-control"}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <i class="fas fa-sticky-note fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">이미지</label>
                                    <img alt="Card image cap" class="card-img-top"
                                         style="height: 100%; width: 100px; display: block;">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row d-flex flex-row align-items-center mb-4">
                                <div class="col-6 form-outline">
                                    <i class="fas fa-leaf fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">비건 유형</label>
                                    {{ form.post_vegan_type|attr:"class:floatingInput form-control"}}
                                </div>
                                <div class="col-6 form-outline">
                                    <i class="fas fa-file fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">파일 선택</label>
                                    {{ form.image|attr:"class:floatingInput form-control"}}
                                </div>
                            </div>
                            <input name="writer" type="hidden" value="{{user.nickname}}">
                        </div>
                        <div class="modal-footer p-2">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                            <button class="btn community_btn" id="detail_btn" type="button">Add post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-3 community_header text-white">
                    <h5 class="modal-title" id="exampleModalLabel">내 식단 등록</h5>
                    <button aria-label="Close" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            type="button"></button>
                </div>
                <div class="modal-body p-3">
                    <h2>Veginner {{user.nickname}}</h2>
                    <form action="{% url 'community' %}" enctype="multipart/form-data" id="post_submit" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <div class="d-flex justify-content-center flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0 mt-3">
                                    <i class="fas fa-calendar-check fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">날짜</label>
                                    {{ form.date|attr:"class:floatingInput form-control"}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0 mt-2">
                                    <i class="fas fa-utensils fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">음식 이름</label>
                                    {{ form.food_name|attr:"class:floatingInput form-control"}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="form-outline flex-fill mb-0">
                                    <i class="fas fa-sticky-note fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">내용</label>
                                    {{ form.content|attr:"class:floatingInput form-control"}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row d-flex flex-row align-items-center mb-4">
                                <div class="col-6 form-outline">
                                    <i class="fas fa-leaf fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">비건 유형</label>
                                    {{ form.post_vegan_type|attr:"class:floatingInput form-control"}}
                                </div>
                                <div class="col-6 form-outline">
                                    <i class="fas fa-file fa-lg me-3 fa-fw"></i>
                                    <label class="form-label" for="floatingInput">파일 선택</label>
                                    {{ form.image|attr:"class:floatingInput form-control"}}
                                </div>
                            </div>
                            <input name="writer" type="hidden" value="{{user.nickname}}">
                        </div>
                        <div class="modal-footer p-2">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                            <button class="btn community_btn" id="post_btn" type="button">Add post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <!--login alert 창 띄워 주면 됨-->
    <h3>(임시)너는 지금 글 쓸 권한이 없다/ 로그인해야만 포스팅할 수 있습니다 + 로그인 페이지로 redirect</h3>
    {% endif %}

    <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for v in post %}
                <div class="col-md-4 col-lg-3 All {{v.post_vegan_type.vegan_sort}}">
                    <div class="card mb-4 box-shadow">
                        <img alt="Card image cap" class="card-img-top openmodal {{v.post_id}}"
                             data-bs-target="#detailModal" data-bs-toggle="modal"
                             data-bs-whatever="@mdo" data-holder-rendered="true" id="{{v.post_id}}"
                             src="media/{{ v.image }}" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5 class="card-title {{v.post_id}}">{{ v.food_name }}</h5>
                            <p class="card-text {{v.post_id}}">{{ v.content|truncatechars:20 }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-outline-secondary {{v.post_id}}" type="button">
                                        {{ v.writer.nickname }}
                                    </button>
                                    <button class="btn btn-sm community-list-btn btn-outline-secondary {{v.post_id}}"
                                            type="button">
                                        {{ v.post_vegan_type|truncatewords:1|cut:" …" }}
                                    </button>
                                </div>
                                <small class="text-muted d-md-none d-lg-block {{v.post_id}}">
                                    {{ v.date|date:"y/m/d" }}
                                </small>
                                <div class="d-none">{{v.date|date:"Y-m-d"}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <button class="sortType community-post-btn btn" id="All" type="button"><a href="{% url 'community' %}">All</a>
                </button>
                <button class="sortType community-post-btn btn" id="V" type="button">Vegetarian</button>
                <button class="sortType community-post-btn btn" id="SV" type="button">Semi Vegetarian</button>
            </div>
        </div>
    </div>

    <!--                sweetalert2 CDN-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--    jquery validate-->
    <script crossorigin="anonymous"
            integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
            referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script>
        console.log("script 들어옴")
        $("#post_btn").click(function (e) {
            console.log("폼 전송 전");
            // validation();
            if ($("#post_submit").valid()) {
                Swal.fire({
                    title: "게시글을 등록하시겠습니까?",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '등록'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            text: '성공적으로 보냈습니다!',
                            icon: 'success',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: '확인'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#post_submit").submit();
                            }
                        });
                    }
                });
            }
        });
        $(".openmodal").click(function (e) {
            const card_id = e.target.id;
            $("#id_food_name").attr("value", $("h5." + card_id).html());
            $("#id_date").attr("value", $("small." + card_id).siblings(".d-none").html());
            $("#id_content").val($("p." + card_id).html());
            $("#id_content").parents().siblings(".mb-3").find("img").attr("src", $("#" + card_id).attr("src"));
            $("#id_post_vegan_type").val($("button." + card_id + ":last").html()).prop("selected", true);
        });
        $(".sortType").click(function (e) {
            const sort_id = e.target.id;
            console.log(sort_id);
            if (sort_id == "V") {
                console.log("V임");
                $(".album").find(".SV").addClass("d-none");
                if ($(".album").find(".V").hasClass("d-none")) {
                    $(".album").find(".V").removeClass("d-none");
                }
            } else if (sort_id == "SV") {
                console.log("SV임");
                $(".album").find(".V").addClass("d-none");
                if ($(".album").find(".SV").hasClass("d-none")) {
                    $(".album").find(".SV").removeClass("d-none");
                }
            } else {
                if ($(".album").find(".All").hasClass("d-none")) {
                    $(".album").find(".All").removeClass("d-none");
                }
            }
        });

        // get url query string
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');
                console.log(sParameterName)
                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        // 정렬방식 셀렉트 박스 유지
        $(document).ready(function(){
            var order = getUrlParameter('order');
            if(order == 'Likes'){
                $('.order-Likes').prop('selected', 'selected')
            }else if(order == "Recent"){
                $('.order-Recent').prop('selected', 'selected')
            }else{
                $('.order-Default').prop('selected', 'selected')
            }
        });
    </script>
</section>
{% endblock contents %}