{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}

<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <div>
            <h3>월별 통계</h3>
        </div>
        <!-- Mypage Menu Btn-->
        <div class="mypage-menu-box btn-group">
            <button class="mypage-menu-btn btn dropdown-toggle" data-bs-toggle="dropdown" type="button">
                <!-- <i class="fas fa-bars"></i>-->
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'calendar' %}">월별 통계</a></li>
                <li><a class="dropdown-item" href="{% url 'myinfo' %}">내 정보</a></li>
                <li><a class="dropdown-item" href="{% url 'myposting' %}">내가 쓴 글</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="my-4 row calendar-legend">
            {% for legend in vege_legend %}
            <div class="col d-flex">
                <div class="{{legend.vegan_type}} calendar-li me-2"></div><div>{{legend.vegan_type}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="clearfix mt-3">
            <a class="prev-month-btn btn left" href="{% url 'calendar' %}?{{ prev_month }}">
                <i class="fas fa-caret-left me-3"></i>{{prev_month|slice:"6:"}}
            </a>
            <a class="next-month-btn btn right" href="{% url 'calendar' %}?{{ next_month }}">
                {{next_month|slice:"6:"}}<i class="fas fa-caret-right ms-3"></i>
            </a>
        </div>
        <div class="mb-5">
            {{calendar}}
        </div>
    </div>
</section>
{% endblock contents %}

