{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}

<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <div>
            <h3>월별 통계</h3>
        </div>

        <!-- Mypage Menu Btn-->
        <div class="mypage-menu-box btn-group">
            <button type="button" class="mypage-menu-btn btn dropdown-toggle" data-bs-toggle="dropdown">
                <!-- <i class="fas fa-bars"></i>-->
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'monthlyreport' %}">월별 통계</a></li>
                <li>
                </li>
                <li><a class="dropdown-item" href="{% url 'myinfo' %}">내 정보</a></li>
                <li>
                </li>
                <li><a class="dropdown-item" href="{% url 'myposting' %}">내가 쓴 글</a></li>
            </ul>
        </div>

    </div>
    <div class="fs-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae eius inventore obcaecati odit
        quo soluta, ut? Accusamus adipisci aliquid eius fugit itaque molestiae reprehenderit. Debitis deleniti qui sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae eius inventore obcaecati odit
        quo soluta, ut? Accusamus adipisci aliquid eius fugit itaque molestiae reprehenderit. Debitis deleniti qui sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae eius inventore obcaecati odit
        quo soluta, ut? Accusamus adipisci aliquid eius fugit itaque molestiae reprehenderit. Debitis deleniti qui sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae eius inventore obcaecati odit
        quo soluta, ut? Accusamus adipisci aliquid eius fugit itaque molestiae reprehenderit. Debitis deleniti qui sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae eius inventore obcaecati odit
        quo soluta, ut? Accusamus adipisci aliquid eius fugit itaque molestiae reprehenderit. Debitis deleniti qui sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae eius inventore obcaecati odit
        quo soluta, ut? Accusamus adipisci aliquid eius fugit itaque molestiae reprehenderit. Debitis deleniti qui sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae eius inventore obcaecati odit
        quo soluta, ut? Accusamus adipisci aliquid eius fugit itaque molestiae reprehenderit. Debitis deleniti qui sit.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae eius inventore obcaecati odit
        quo soluta, ut? Accusamus adipisci aliquid eius fugit itaque molestiae reprehenderit. Debitis deleniti qui sit.
    </div>
</section>

{% endblock contents %}