{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}

<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <div>
            <h3>월별 통계</h3>
        </div>

        <!-- Mypage Menu Btn-->
        <div class="mypage-menu-box btn-group">
            <button class="mypage-menu-btn btn dropdown-toggle" data-bs-toggle="dropdown" type="button">
                <!-- <i class="fas fa-bars"></i>-->
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'monthlyreport' %}">월별 통계</a></li>
                <li><a class="dropdown-item" href="{% url 'myinfo' %}">내 정보</a></li>
                <li><a class="dropdown-item" href="{% url 'myposting' %}">내가 쓴 글</a></li>
            </ul>
        </div>

    </div>
    <div class="fs-1">
        <div id="container"></div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script type="text/javascript">
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Your Monthly Report'
                },
                xAxis: {
                    categories: ["myReport"]
                },
                series: [{
                    name: 'Vegan',
                    data: [
                        {% for vegan in dataset %}{{ vegan.Vegan_count }}{% endfor %}
                    ],
                    color: 'green'
                }, {
                    name: 'Lacto',
                    data: [
                        {% for vegan in dataset %}{{ vegan.Lacto_count }}{% endfor %}
                    ],
                    color: 'yellow'
                }, {
                    name: 'Ovo,
                    data: [
                        {% for vegan in dataset %}{{ vegan.Ovo_count }}{% endfor %}
                    ],
                    color: 'black'
                }, {
                    name: 'Lacto_Ovo',
                    data: [
                        {% for vegan in dataset %}{{ vegan.Lacto_Ovo_count }}{% endfor %}
                    ],
                    color: 'white'
                }, {
                    name: 'Pesco',
                    data: [
                        {% for vegan in dataset %}{{ vegan.Pesco_count }}{% endfor %}
                    ],
                    color: 'blue'
                },{
                    name: 'Pollo',
                    data: [
                        {% for vegan in dataset %}{{ vegan.Pollo_count }}{% endfor %}
                    ],
                    color: 'grey'
                }, {
                    name: 'Flexitarian',
                    data: [{% for vegan in dataset %}{{ vegan.Flexitarian_count }}{% endfor %}
                    ],
                    color: 'red'
                }
                ]
            // [{
            //     name: 'Year 1800',
            //     data: [107, 31, 635, 203, 2]
            // }, {
            //     name: 'Year 1900',
            //     data: [133, 156, 947, 408, 6]
            // }, {
            //     name: 'Year 2012',
            //     data: [1052, 954, 4250, 740, 38]
            // }]
            });
        </script>
    </div>
</section>

{% endblock contents %}