{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}

<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <div>
            <h3>내 정보</h3>
        </div>

        <!-- Mypage Menu Btn-->
        <div class="mypage-menu-box btn-group">
            <button class="mypage-menu-btn btn dropdown-toggle" data-bs-toggle="dropdown" type="button">
                <!-- <i class="fas fa-bars"></i>-->
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'calendar' %}">월별 통계</a></li>
                <li><a class="dropdown-item" href="{% url 'myinfo' %}">내 정보</a></li>
                <li><a class="dropdown-item" href="{% url 'myposting' %}">내가 쓴 글</a></li>
            </ul>
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <div class="w-100">

            <form action="" method="POST">
                {% csrf_token %}
                <div class="myinfo-username mb-4">{{user.nickname}}</div>
                <div>
                    <div class="row mt-2">
                        <div class="col-3">
                            <label class="myinfo-label" for="myinfo-email">email</label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" disabled id="myinfo-email" type="text" value="{{user.email}}">
                            <div class="myinfo-warning">이메일은 변경 불가능합니다.</div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3">
                            <label class="myinfo-label" for="myinfo-nickname">nickname</label>
                        </div>
                        <div class="col-9">
                            {{ form.nickname|attr:"class:floatingInput form-control"|attr:"myinfo-id:nickname"}}
                            <script>
                                document.getElementById('myinfo-nickname').setAttribute('value',"{{user.nickname}}");
                            </script>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-3">
                            <label class="myinfo-label" for="myinfo-password">password</label>
                        </div>
                        <div class="col-9">
                            <a href="{% url 'account_change_password' %}">
                                <span>비밀번호 변경하기</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn myinfo-btn" type="submit">정보 변경하기</button>
<!--                    <button class="myinfo-btn btn ms-2" data-bs-target="#deleteModal" data-bs-toggle="modal"-->
<!--                            data-bs-whatever="@mdo"-->
<!--                            type="button">회원 탈퇴하기-->
<!--                    </button>-->
                    <button class="btn myinfo-btn ms-2" type="button" onclick="withdrawal()">회원 탈퇴하기</button>
                </div>
            </form>


            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="deleteModalLabel">회원 탈퇴</h4>
                        </div>
                        <form method="POST" action="{% url 'withdrawal'%}">
                            {% csrf_token %}
                            <div class="modal-body">
                                Veginner 웹 사이트에서 {{user.nickname}}님의 계정이 삭제됩니다.
                                <br>
                                탈퇴 시 모든 개인정보 및 이용정보가 삭제되며 복구할 수 없습니다.
                                <br>
                                현재 계정의 비밀번호로 인증해 주세요.
                                <br>
                                <input type="password" name="ajax_pw" class="form-control" id="ajax_pw">
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'withdrawal'%}">
                                    <button type="button" class="btn btn-light" id="delete_btn">탈퇴하기</button>
                                </a>
                                <button type="button" class="btn btn-success" id="closeModalBtn">돌아가기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--                sweetalert2 CDN-->
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script>

                // 모달 안의 취소 버튼에 이벤트를 건다.
                $('#closeModalBtn').on('click', function(){
                    $('#deleteModal').modal('hide');
                });
                function withdrawal() {
                    Swal.fire({
                        title: '회원 탈퇴',
                        html: `
                        Veginner 웹 사이트에서 {{user.nickname}}님의 계정이 삭제됩니다.
                        <br>
                        탈퇴 시 모든 개인정보 및 이용정보가 삭제되며 복구할 수 없습니다.
                        `,
                        inputAttributes: {
                            autocapitalize: 'off'
                        },
                        showCancelButton: true,
                        cancelButtonText: '돌아가기',
                        confirmButtonText: '정말 탈퇴하기',
                        allowOutsideClick: true,
                        backdrop: true,
                        cancelButtonColor:'#224735',
                        confirmButtonColor: '#b2d0b1'
                    }).then(function(wd){
                        if (wd.isConfirmed){
                            window.location = `{% url "withdrawal" %}`
                        }
                    });
                }
            </script>

        </div>

    </div>
</section>

{% endblock contents %}