{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}

<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <div>
            <h3>내 정보</h3>
        </div>

        <!-- Mypage Menu Btn-->
        <div class="mypage-menu-box btn-group">
            <button class="mypage-menu-btn btn dropdown-toggle" data-bs-toggle="dropdown" type="button">
                <!-- <i class="fas fa-bars"></i>-->
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'calendar' %}">월별 통계</a></li>
                <li><a class="dropdown-item" href="{% url 'myinfo' %}">내 정보</a></li>
                <li><a class="dropdown-item" href="{% url 'myposting' %}">내가 쓴 글</a></li>
            </ul>
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <div class="w-100">

            <form action="" method="POST">
                {% csrf_token %}
                <div class="myinfo-username mb-4">{{user.nickname}}</div>
                <div>
                    <div class="row mt-2">
                        <div class="col-3">
                            <label class="myinfo-label" for="myinfo-email">email</label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" disabled id="myinfo-email" type="text" value="{{user.email}}">
                            <div class="myinfo-warning">이메일은 변경 불가능합니다.</div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-3">
                            <label class="myinfo-label" for="myinfo-nickname">nickname</label>
                        </div>
                        <div class="col-9">
                            {{ form.nickname|attr:"class:floatingInput form-control"|attr:"myinfo-id:nickname"}}
                            <script>
                                document.getElementById('myinfo-nickname').setAttribute('value',"{{user.nickname}}");
                            </script>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-3">
                            <label class="myinfo-label" for="myinfo-password">password</label>
                        </div>
                        <div class="col-9">
                            <a href="{% url 'account_change_password' %}">
                                <span>비밀번호 변경하기</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn myinfo-btn" type="submit">정보 변경하기</button>
                </div>
            </form>

        </div>

    </div>
</section>

{% endblock contents %}