{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}

<section class="container">
    <div class="mypage-header d-flex justify-content-between mt-5">
        <div>
            <h3>내가 쓴 글</h3>
        </div>
        <!-- Mypage Menu Btn-->
        <div class="mypage-menu-box btn-group">
            <button class="mypage-menu-btn btn dropdown-toggle" data-bs-toggle="dropdown" type="button">
                <!-- <i class="fas fa-bars"></i>-->
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'calendar' %}">월별 통계</a></li>
                <li><a class="dropdown-item" href="{% url 'myinfo' %}">내 정보</a></li>
                <li><a class="dropdown-item" href="{% url 'myposting' %}">내가 쓴 글</a></li>
            </ul>
        </div>
    </div>
    <div class="fs-1">
        <!--        <script src="https://code.highcharts.com/highcharts.js"></script>-->
        <!--        <script src="https://code.highcharts.com/modules/exporting.js"></script>-->
        <!--        <script src="https://code.highcharts.com/modules/export-data.js"></script>-->
        <!--        <script src="https://code.highcharts.com/modules/accessibility.js"></script>-->
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <figure class="highcharts-figure">
            <div id="container" data-url="{% url 'chart_data' %}"></div>
            <p class="highcharts-description">
                미치겠다.. 일단 전체 글까지는 띄ㅡ운 것 같애!!!!
            </p>
        </figure>
        <script>
            $.ajax({
                url: $("#container").attr("data-url"),
                dataType: 'json',
                success: function (data) {
                    Highcharts.chart("container", data);
                }
            });
        </script>
        <script>
            Highcharts.setOptions({
                colors: ['#224735', '#2d634d', '#5c8456', '#70a46a', '#96bf93', '#b2d0b1', '#b2d9d7']
            })
        </script>
    </div>
    <div class="mt-3">
        <!-- table head -->
        <div class="row myposting-table-row myposting-table-head">
            <div class="col-4 col-md-3 text-center">작성일</div>
            <div class="col-4 col-md-3 text-center">음식명</div>
            <div class="col-4 col-md-3 text-center">비건 타입</div>
            <div class="d-none d-md-block col-md-3 text-center">좋아요 수</div>
        </div>
        <!-- table body -->
        {% if my_posts %}
        {% for post in my_posts %}
        <div class="row myposting-table-row myposting-table-body my-2">
            <div class="col-4 col-md-3 text-md-center">{{post.write_time|date:'y-m-d'}}</div>
            <div class="col-4 col-md-3 text-md-center">{{post.food_name}}</div>
            <div class="col-4 col-md-3 text-md-center">{{post.post_vegan_type|truncatewords:1|cut:" …"}}</div>
            <div class="d-none d-md-block col-md-3 text-center">{{post.like_count}}</div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row myposting-table-row myposting-table-body-none my-1">
            <div class="col-12 text-center">
                작성된 게시글이 없습니다.
                <a class="body-none-link" href="{% url 'community' %}">새로운 글을 작성해보세요!</a>
            </div>
        </div>
        {% endif %}
    </div>
</section>


{% endblock contents %}