<header class="d-flex justify-content-between">
    <div>
        LOGO
    </div>
    <navbar class="d-flex justify-content-between">
        <div>
            {% if user.is_authenticated %}
            <p>안녕하세여 {{user.nickname}}님 로그인 됐다 지금</p>
            <p><a href="{% url 'account_change_password' %}">비밀번호 스스로 변경한다면</a></p>
            {% else %}
            <p>로그아웃된 상태</p>
            {% endif %}
        </div>
        <div>
            <a class="menu-item" href="#">About</a>
            <a class="menu-item" href="#">Community</a>
            {% if user.is_authenticated %}
            <a class="menu-item" href="#">MyPage</a>
            <a class="menu-item" href="{% url 'account_logout' %}">로그아웃</a>
            {% else %}
            <a class="menu-item" href="{% url 'account_signup' %}">회원가입</a>
            <a class="menu-item" href="{% url 'account_login' %}">로그인</a>
            {% endif %}
        </div>
    </navbar>
</header>
