{% extends 'base.html' %}

{% block contents %}
<section class="main-section main-section1">
    <div class="section1-title">
        Lorem ipsum dolor sit amet, fugiat nobis numquam
        perspiciatis?
    </div>
    <div class="section1-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores exercitationem harum laborum
        nesciunt omnis quas quo repellat reprehenderit temporibus. Accusantium delectus dicta dolores fugit ipsa magnam
        qui repellendus voluptatum?
    </div>
</section>
<section class="main-section main-section2">
    여기는 메인 섹션2
</section>
<section class="main-section main-section3">
    여기는 메인 섹션3
</section>

{% endblock contents %}
