{% extends 'base.html' %}
{% load static %}

{% block contents %}
<section class="main-section main-section1">
    <div class="container">
        <div class="section1-title">
            Lorem ipsum dolormet, fugiat perspiciatis?
        </div>
        <div class="section1-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores exercitationem harum laborum
            qui repellendus voluptatum?
        </div>
    </div>
</section>
<section class="main-section main-section2">
    <div class="container">
    여기는 메인 섹션2
    </div>
</section>
<section class="main-section main-section3">
    <div class="container">
    여기는 메인 섹션3
    </div>
</section>

{% endblock contents %}
