{% extends 'base.html' %}
{% load static %}

{% block contents %}
<section class="main-section main-section1 ">
    <div class="container d-flex flex-column justify-content-center main-section1-container">
        <div class="section1-title d-flex justify-content-between align-items-center">
            <div>
                <div>
                    Let's Begin!
                </div>
                <div class="typing-animation">
                    Let's Vegan!
                </div>
            </div>
            <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="d-none d-xl-block"
                    frameborder="0" height="315"
                    src="https://www.youtube.com/embed/ANUoAdXfA60?controls=0"
                    title="YouTube video player" width="560"></iframe>
        </div>
        <div class="section1-subtitle my-5">
            Become a vegetarian and keep yourself greener.
            <br>
            It is not only a leaf but an act of kindness.
        </div>
        <div class="main-section1-contents scroll-action scroll-action-up">
            <button class="main-section1-btn btn p-3">
                <a href="{% url 'community' %}">Get Started</a>
            </button>
        </div>
    </div>
</section>
<div class="custom-shape-divider-bottom-1638432678">
    <svg data-name="Layer 1" preserveAspectRatio="none" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg">
        <path class="shape-fill"
              d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"></path>
    </svg>
</div>

<section class="main-section main-section2">
    <div class="container d-flex flex-column justify-content-center main-section2-container">
        <div class="main-section2-title mb-3 scroll-action scroll-action-up">
            Today's Hot Posting
        </div>
        <div class="main-section2-subtitle mb-5 mb-sm-3 mb-lg-5 scroll-action scroll-action-up">
            오늘의 인기 메뉴를 확인해보세요.
        </div>

        <div class="main-section2-contents scroll-action scroll-action-up">
            <div class="card-list-container row">
                {% for v in posts %}
                <div class="card-container col-6 col-lg-3 mb-2 scroll-action scroll-action-up">
                    <div class="card-item card-item-main card box-shadow">
                        <img alt="Card image cap" class="card-img-top openmodal "
                             data-bs-target="#detailModal" data-bs-toggle="modal"
                             data-bs-whatever="@mdo" data-holder-rendered="true"
                             onclick="location.href='./community/detail/{{v.post_id}}'"
                             src="media/{{ v.image }}"
                             style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <div class="card-item-detail-1 d-flex justify-content-between align-items-start">
                                <div class="card-item-detail-box">
                                    <div class="card-item-title">{{ v.food_name }}</div>
                                    <div class="mt-1">
                                        {% if v.post_vegan_type__vegan_type == 'Vegan' %}
                                        <span class="card-item-type card-item-type-8"># {{ v.post_vegan_type__vegan_type }}</span>
                                        {% elif v.post_vegan_type__vegan_type == 'Lacto' %}
                                        <span class="card-item-type card-item-type-9"># {{ v.post_vegan_type__vegan_type }}</span>
                                        {% elif v.post_vegan_type__vegan_type == 'Ovo' %}
                                        <span class="card-item-type card-item-type-10"># {{ v.post_vegan_type__vegan_type }}</span>
                                        {% elif v.post_vegan_type__vegan_type == 'Lacto-Ovo' %}
                                        <span class="card-item-type card-item-type-11"># {{ v.post_vegan_type__vegan_type }}</span>
                                        {% elif v.post_vegan_type__vegan_type == 'Pesco' %}
                                        <span class="card-item-type card-item-type-12"># {{ v.post_vegan_type__vegan_type }}</span>
                                        {% elif v.post_vegan_type__vegan_type == 'Pollo' %}
                                        <span class="card-item-type card-item-type-13"># {{ v.post_vegan_type__vegan_type }}</span>
                                        {% elif v.post_vegan_type__vegan_type == 'Flexitarian' %}
                                        <span class="card-item-type card-item-type-14"># {{ v.post_vegan_type__vegan_type }}</span>
                                        {% endif%}
                                    </div>
                                </div>
                                <p class="d-none d-sm-block card-item-likeBtn p-0 like"
                                   name="{{ v.post_id }}"
                                   value="Like"><i
                                        class="fas fa-heart heart-click"></i>
                                </p>
                                <p class="ms-1" id="count_{{ v.post_id }}">{{ v.like_count }}</p>
                            </div>
                            <div class="card-item-detail-2 d-flex justify-content-between mt-3">
                                <div class="card-item-nickname {{v.post_id}}">
                                    <span>{{ v.writer__nickname }}</span>님
                                </div>
                                <div class="d-none d-sm-block card-item-date {{v.post_id}}">
                                    {{ v.date|date:"y.m.d" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="main-section main-section3" id="main-section3">
    <div class="container">
        <div class="about-container about-container-5">
            <div class="d-flex flex-column align-items-center justify-content-center h-100 scroll-action scroll-action-up">
                <div>베지테리언에는 다양한 유형이 있다는 사실,</div>
                <div>알고 계신가요?</div>
                <div class="vegan-type-desc mt-2 text-center">
                    <div>
                        Vegetarian은 여러 유형으로 나뉘어져 있고, veginner의 캘린더 서비스를 통해 이달의 내 채식주의 현황을 살펴보세요.
                    </div>
                    <div>
                        커뮤니티에 공유하고 글들을 살펴보면서 자연스럽게 채식 위주의 식단을 익히고, 실천할 수 있게 합니다.
                    </div>
                    <div>(프루테리언 등 세부적인 타 분류가 있을 수 있습니다)</div>
                </div>
                <div class="vegan-type-desc mt-5">
                    <img alt="article1" class="vegan-type-img mx-3" src="{% static 'image/vegan-type.png' %}">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-section main-section4">
    <div class="container">
        <div class="about-container about-container-6">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <div class="scroll-action scroll-action-up mb-5">Veginner와 함께</div>

                <div class="d-flex justify-content-evenly w-100 mt-5">
                    <div class="about-veginner-box mx-lg-4 mx-1 p-xl-5 p-4 scroll-action scroll-action-up">
                        <div><i class="about-container-6-icons fas fa-leaf"></i></div>
                        <div class="about-veginner">Vegetarian의 다양한 종류에 대해 알아보세요</div>
                        <div class="about-veginner-link text-end">
                            <i class="me-1 fas fa-arrow-right"></i>
                            <a href="#main-section3">GO</a>
                        </div>
                    </div>
                    <div class="about-veginner-box mx-lg-4 mx-1 p-xl-5 p-4 scroll-action scroll-action-up">
                        <div><i class="about-container-6-icons fas fa-utensils"></i></div>
                        <div class="about-veginner">커뮤니티에 다른 사용자들과 함께 식단을 공유해보세요</div>
                        <div class="about-veginner-link text-end">
                            <i class="me-1 fas fa-arrow-right"></i>
                            <a href="{% url 'community' %}">GO</a>
                        </div>
                    </div>
                    <div class="about-veginner-box mx-lg-4 mx-1 p-xl-5 p-4 scroll-action scroll-action-up">
                        <div><i class="about-container-6-icons far fa-calendar-check"></i></div>
                        <div class="about-veginner">나의 일상 식단이 어떤 유형인지 스스로 체크해보세요</div>
                        <div class="about-veginner-link text-end">
                            <i class="me-1 fas fa-arrow-right"></i>
                            <a href="{% url 'myposting' %}">GO</a>
                        </div>
                    </div>
                    <div class="about-veginner-box mx-lg-4 mx-1 p-xl-5 p-4 scroll-action scroll-action-up">
                        <div><i class="about-container-6-icons fas fa-chart-bar"></i></div>
                        <div class="about-veginner">Veginner만을 위한 월별 개인 리포트를 받아 보세요</div>
                        <div class="about-veginner-link text-end">
                            <i class="me-1 fas fa-arrow-right"></i>
                            <a href="{% url 'calendar' %}">GO</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<script>
    const saTriggerMargin = 300;
    const saElementList = document.querySelectorAll('.scroll-action');

    const saFunc = function () {
        for (const element of saElementList) {
            if (!element.classList.contains('show')) { // show 클래스가 없으면
                if (window.innerHeight > element.getBoundingClientRect().top + saTriggerMargin) {
                    element.classList.add('show'); // show 클래스를 더함
                }
            }
        }
    }

    window.addEventListener('load', saFunc);
    window.addEventListener('scroll', saFunc);
</script>

{% if isMain %}
{% include "footer.html" %}
{% endif %}

{% endblock contents %}
