@import url('./base.css');

.about-container {
    height: 100vh;
}

/* container-1 */
.about-container-1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-shadow: 3px 3px 6px rgb(0 0 0 / 80%);

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../image/about-container-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* container-2 */
.about-container-2 {
    font-weight: 600;
    font-size: 1.8rem;
}

.about-container-2 .about-start-msg {
    color: var(--green2-900);
    text-shadow: 0px 0px 2px var(--green2-100);
}

.about-container-2 .about-start-msg::before {
    content: '\f10d';
    font-family: FontAwesome;
    font-size: 1rem;
    vertical-align: top;
    margin-right: 5px;
}

.about-container-2 .about-start-msg::after {
    content: '\f10e';
    font-family: FontAwesome;
    font-size: 1rem;
    vertical-align: top;
    margin-left: 5px;
}

.about-container-2 .about-start-import {
    color: var(--green2-900);
}

.about-container-2 img {
    width: 40vw;
}

@media (min-width: 2000px) {
    .about-container-2 img {
        width: 30vw;
    }
}

/* container-3 */
.about-container-3 {
    font-weight: 600;
    font-size: 1.8rem;
}

.about-container-3 .about-start-import {
    color: var(--green2-900);
    text-shadow: 0px 0px 2px var(--green2-100);
}

.about-container-3 img {
    width: 40vw;
}

@media (min-width: 2000px) {
    .about-container-3 img {
        width: 30vw;
    }
}

/* container-4 */
.about-container-4 {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--green2-900);
}

.about-container-4 .article-maintitle::before {
    content: '\f10d';
    font-family: FontAwesome;
    font-size: 1rem;
    vertical-align: top;
    margin-right: 5px;
}

.about-container-4 .article-maintitle::after {
    content: '\f10e';
    font-family: FontAwesome;
    font-size: 1rem;
    vertical-align: top;
    margin-right: 5px;
}

.about-container-4 div.article-title-box {
    width: 40vw;
}

.about-container-4 img.article-title {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
}

/* container-5 */
.about-container-5 {
    font-weight: 700;
    font-size: 2.5rem;
}

.about-container-5 img.vegan-type-img {
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    width: 35vw;
    padding: 20px;
}

.about-container-5 .vegan-type-desc {
    font-weight: 400;
    font-size: 1.1rem;
}

/* container-6 */
.about-container-6 {
    font-weight: 700;
    font-size: 2.5rem;
}

.about-container-6 .about-veginner-box {
    width: 50%;
    height: 30vh;
    background-color: var(--green2-50);
    color: var(--green1-900);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-container-6 i.about-container-6-icons {
    font-size: 2.5rem;
}

.about-container-6 .about-veginner {
    height: 35%;
    font-weight: 400;
    font-size: 1rem;
}
.about-container-6 .about-veginner-link {
    height: 15%;
    font-weight: 500;
    font-size: 1rem;
}

.about-container-6 .about-veginner-link a {
    color: var(--green1-900);
}

.about-container-6 .about-veginner-link > i {
    animation: motion 0.5s linear 0s infinite alternate;
}

@keyframes motion {
    0% {transform: translateX(3px);}
    100% {transform: translateX(-3px);}
}

/* container-7 */
.about-container-7 {
    font-weight: 700;
    font-size: 2.5rem;
}

.about-container-7 .member-intro {
    font-weight: 400;
    font-size: 1rem;
    margin: auto;
    width: 250px;
    height: 60%;

    border-radius: 10px;
    border: solid #BDBDBD 0;
    box-shadow: 0 0 14px rgba(186, 186, 186, 0.5);
    -webkit-box-shadow: 0 0 14px rgba(186, 186, 186, 0.5);
    -moz-box-shadow: 0 0 14px rgba(186, 186, 186, 0.5);
}

.about-container-7 .member-intro .developer {
    font-weight: 600;
    font-size: 1.2rem;
}

.about-container-7 .member-intro .developer-role,
.about-container-7 .member-intro .developer-email {
    font-size: 1rem;
}

.about-container-7 .member-intro .developer-role::before {
    content: '\f5fc';
    font-family: FontAwesome;
    font-size: 1rem;
    margin-right: 5px;
}

.about-container-7 .member-intro .developer-email::before {
    content: '\f0e0';
    font-family: FontAwesome;
    font-size: 1rem;
    margin-right: 5px;
}

@media (max-width: 575px) {
    .about-container-7 {
        margin-bottom: 600px;
    }
    .about-container-5 img.vegan-type-img {
        width: 90vw;
    }
}

@media (max-width: 991px) {
    /* width < lg */
    .about-container-1 {
        font-size: 4.5vw;
    }

    .about-container-2 {
        font-size: 3vw;
    }

    .about-container-2 .about-start-msg::before {
        margin-right: 2px;
        font-size: 3vw;
    }

    .about-container-2 .about-start-msg::after {
        margin-right: 2px;
        font-size: 3vw;
    }

    .about-container-3 {
        font-size: 3vw;
    }

    .about-container-3 img {
        width: 60vw;
    }

    .about-container-4 {
        font-size: 4.5vw;
    }

    .about-container-5 {
        font-size: 4.5vw;
    }

    .about-container-5 .vegan-type-desc {
        font-size: 2.5vw;
    }

    .about-container-5 img.vegan-type-img {
        width: 65vw;
    }

    .about-container-6 {
        font-size: 4.5vw;
    }

    .about-container-6 .about-veginner-box {
        height: 25vh;
    }

    .about-container-6 .about-veginner {
        font-size: 1.6vw;
    }

    .about-container-6 i.about-container-6-icons {
        font-size: 3vw;
    }
    .about-container-6 .about-veginner-link {
        font-size: 0.8rem;
    }

    .about-container-7 {
        font-size: 4.5vw;
    }

    .about-container-7 .member-intro {
        font-size: 3vw;
        width: 250px;
        height: 60%;
    }

    .about-container-7 .member-intro .developer {
        font-size: 2.2vw;
    }

    .about-container-7 .member-intro .developer-role,
    .about-container-7 .member-intro .developer-email {
        font-size: 1.8vw;
    }

    .about-container-7 .member-intro .developer-role::before {
        font-size: 1.8vw;
    }

    .about-container-7 .member-intro .developer-email::before {
        font-size: 1.8vw;
    }

}