.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    font-family: 'Cabin', sans-serif;
    color: var(--navy-900);
}

.calendar td > div {
    background-color: var(--green2-50);
    border-radius: 5px;
    margin: 3px;
    height: 95%;
}

.calendar td > div:hover {
    background-color: var(--green2-100);
    transition: all 1s;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    height: 150px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 40px;
    text-align: center;
}

@media (max-width: 991px) {
    /* width < lg */
    .date {
        font-size: 4vw;
    }
}

div.calendar-ul {
    height: 45px;
}

div.calendar-li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.Vegan {
    background-color: var(--green2-900);
    display: inline-block;
}
.Vegan_legend{
    display: none;
    position: absolute;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    background: var(--green2-900);
}
.Vegan:hover .Vegan_legend{
    display: block;
}

.Lacto {
    background-color: var(--green2-800);
    display: inline-block;
}
.Lacto_legend{
    display: none;
    position: absolute;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    background: var(--green2-800);
}
.Lacto:hover .Lacto_legend{
    display: block;
}

.Ovo {
    background-color: var(--green2-700);
    display: inline-block;
}
.Ovo_legend{
    display: none;
    position: absolute;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    background: var(--green2-700);
}
.Ovo:hover .Ovo_legend{
    display: block;
}


.Lacto-Ovo {
    background-color: var(--green2-600);
    display: inline-block;
}
.Lacto-Ovo_legend{
    display: none;
    position: absolute;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    background: var(--green2-600);
}
.Lacto-Ovo:hover .Lacto-Ovo_legend{
    display: block;
}

.Pesco {
    background-color: var(--yellow-300);
    display: inline-block;
}
.Pesco_legend{
    display: none;
    position: absolute;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    background: var(--yellow-300);
}
.Pesco:hover .Pesco_legend{
    display: block;
}

.Pollo {
    background-color: var(--yellow-400);
    display: inline-block;
}
.Pollo_legend{
    display: none;
    position: absolute;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    background: var(--yellow-400);
}
.Pollo:hover .Pollo_legend{
    display: block;
}

.Flexitarian {
    background-color: var(--red-500);
    display: inline-block;
}
.Flexitarian_legend{
    display: none;
    position: absolute;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8em;
    color: white;
    background: var(--red-500);
}
.Flexitarian:hover .Flexitarian_legend{
    display: block;
}

.calendar-legend {
    width: 60vw;
    margin: 0 auto;
    font-size: 0.8rem;
    background-color: rgba(207, 226, 206, 0.15);
    padding: 10px 5px;
    border-radius: 3px;
}
@media (max-width: 991px) {
    .calendar-legend {
        width: 80vw;
        font-size: 1.3vw;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

div.clearfix > .btn {
    outline: none;
    color: var(--green1-900);
    background-color: transparent;
    box-shadow: 0 0 0 0;
    font-size: 1.2rem;
}

div.clearfix > .prev-month-btn:hover, div.clearfix > .next-month-btn:hover {
    font-weight: 500;
}

div.clearfix > .prev-month-btn:hover > i, div.clearfix > .next-month-btn:hover > i {
     animation: calendar-btn 0.3s linear 0s infinite alternate;
}

@keyframes calendar-btn {
    0% {transform: translateX(2px);}
    100% {transform: translateX(-2px);}
}

.clearfix {
    margin: 15px;
}