.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    font-family: 'Cabin', sans-serif;
    color: var(--navy-900);
}

.calendar tr, .calendar td {
    border: 1px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    height: 150px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 55px;
    text-align: center;
}

div.calendar-ul {
    height: 45px;
}

div.calendar-li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.Vegan {
    background-color: var(--green2-900);
}

.Lacto {
    background-color: var(--green2-800);
}

.Ovo {
    background-color: var(--green2-700);
}

.Lacto-Ovo {
    background-color: var(--green2-600);
}

.Pesco {
    background-color: var(--yellow-300);
}

.Pollo {
    background-color: var(--yellow-400);
}

.Flexitarian {
    background-color: var(--red-500);
}


.left {
    float: left;
}

.right {
    float: right;
}

div.clearfix > .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.clearfix {
    margin: 15px;
}