.footer-slogan {
    color: var(--green2-900);
    font-size: 1.2em;
}

.copyright {
    color: var(--green2-900);
    font-size: 0.8em;
    font-weight: 300;
}

.about-team {
    color: var(--green2-900);
    font-size: 0.9em;
    font-weight: 300;
}

.sns {
    color: var(--green2-900);
    font-size: 1.6em;
}

a.fa-github{
    color: var(--green2-900);
}
/*footer {*/
/*    background-color: var(--green2-50);*/
/*}*/

/* md: 768px */
@media (max-width: 768px) {
    .footer-slogan {
        font-size: 0.8em;
    }

    .copyright {
        font-size: 0.5em;
        font-weight: 300;
    }

    .about-team {
        font-size: 0.5em;
        font-weight: 300;
    }

    .sns {
        font-size: 1em;
    }

    a.footer-logo > img {
        width: 25px;
    }


    /* Other page's header bg-color: white */
    .logo, .logo:hover {
        font-size: 1.5rem;
        font-weight: 500;
    }
}