@import url('./base.css');

header {
    background-color: var(--green1-900);
    height: 100px;
    padding: 0 200px;
}

.isLogin {
    color: var(--semi-white);
}

.menu-item {
    color: var(--semi-white);
}


.logo {
    font-size: 2rem;
    color: var(--semi-white);
}

.login-status {
    font-size: 14px;
    font-weight: 200;
}
