@import url('./base.css');

header {
    background-color: var(--green1-900);
    height: 100px;
}

.logo, .logo:hover {
    color: var(--green2-50);
    font-size: 2rem;
    font-weight: 700;
}

.about-login, .about-login:hover {
    color: var(--green2-50);
    font-size: 13px;
    font-weight: 200;
}


.menu-item, .menu-item:hover {
    color: var(--green2-50);
    font-weight: 500;
}


