@import url('./base.css');

.main-section {
    height: 1000px;
}

.main-section1 {
    background-color: var(--green1-900);
}

.main-section2 {
    background-color: #fff;
}

.main-section3 {
    background-color: var(--green2-50);
}

.section1-title {
    color: var(--green2-50);
    font-size: 6rem;
}

.section1-subtitle {
    color: var(--green2-50);
    font-size: 2rem;
}