@import url('./base.css');

/* monthlyreport.html, myinfo.html, myposting.html */

h3 {
    font-weight: 600;
}

.mypage-menu-item {
    color: var(--navy-900);
}

.mypage-menu-btn {
    border: 1px solid rgba(28, 62, 55, 0.5);
    background-color: #fff;
    color: var(--green2-900);

    box-shadow: 0px 0px 10px -3px rgba(28, 62, 55, 0.8);
    -webkit-box-shadow: 0px 0px 10px -3px rgba(28, 62, 55, 0.8);
    -moz-box-shadow: 0px 0px 10px -3px rgba(28, 62, 55, 0.8);
}

.mypage-menu-btn:hover {
    color: var(--green2-900);
}

.mypage-header h3 {
    color: var(--green2-900);
}

/* myinfo.html */
.myinfo-username {
    color: var(--green2-900);
    font-size: 1.2rem;
    font-weight: 700;

    display: flex;
    flex-basis: 100%;
}

.myinfo-username::before {
    content: "";
    flex-grow: 1;
    margin: auto 12px auto 0;
    background: var(--navy-900);
    height: 1px;
    font-size: 0px;
    line-height: 0;
}

.myinfo-username::after {
    content: "";
    flex-grow: 1;
    margin: auto 0 auto 12px;
    background: var(--navy-900);
    height: 1px;
    font-size: 0px;
    line-height: 0;
}

.myinfo-btn {
    background-color: var(--green2-900);
    color: var(--green2-50);
}

.myinfo-btn:hover {
    color: var(--green2-50);
}

.myinfo-label {
    color: var(--navy-900);
    text-transform: uppercase;
}

.myinfo-warning {
    color: var(--navy-900);
    font-size: 0.8em;
    font-weight: 300;
}

.myinfo-warning::before {
    content: '\f06a';
    font-family: FontAwesome;
    font-size: 0.8em;
    color: var(--navy-900);
    margin-right: 3px;

}

/* monthly report 임시 */
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* myposting.html */
.myposting-table-row {
    height: 40px;
    line-height: 40px;
}

.myposting-table-head {
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--green2-100);
    color: var(--green2-900);
}

.myposting-table-body {
    font-size: 0.95rem;
    height: 30px;
    line-height: 30px;
    color: var(--green2-900);
    transition: all 0.25s ease-in;
}

.myposting-table-body:hover {
    cursor: pointer;
    font-weight: 500;
    background-color: var(--yellow-50);
    color: var(--green2-900);
}

.myposting-table-body-none {
    font-size: 0.95rem;
    height: 200px;
    line-height: 200px;
    color: var(--green2-900);
}

.body-none-link {
    font-weight: 500;
}

.myposting-table-body > div { /* width 좁아질 때 말줄임표 */
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .myposting-table-head {
        font-size: 0.9rem;
    }

    .myposting-table-body {
        font-size: 0.8rem;
        height: 25px;
        line-height: 25px;
    }

    .myposting-table-body > div { /* width 좁아질 때 말줄임표 */
        width: 33%;
    }
}